<div class="dark:bg-[#18191A] dark:text-white">
    <div class="grid w-full grid-cols-2 gap-3">
        <div class="col-span-1 ml-1 text-start">
            <div
                class="grid grid-cols-2 gap-2 justify-start text-start text-[#566a7f] rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526] align-start">
                <div class="items-start justify-start w-full col-span-2">
                    <p>ค่ารักษาพยาบาลคงเหลือ</p>
                    <p>OPD: {{ opdValue | number: '1.0-0'}} บาท</p>
                    <p>IPD: {{ ipdValue | number: '1.0-0'}} บาท</p>
                    <p>ค่าห้องและค่าอาหารที่สามารถเบิกได้ต่อวัน</p>
                    <p>ค่าห้อง + ค่าอาหาร: {{ roomValue | number: '1.0-0'}} บาท</p>
                </div>
            </div><br>
            <div class="w-full col-span-1">
                <p-calendar [(ngModel)]="rangeDates" (ngModelChange)="getRangeDates()" [inline]="true"
                    selectionMode="range" [style]="{width:'100%'}" [showWeek]="true" inputId="range">
                </p-calendar>
            </div>
        </div>
        <div class="col-span-1 text-start">
            <form [formGroup]="expenseForm">
                <div
                    class="grid grid-cols-2 gap-2 justify-start text-start text-[#566a7f] rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526] align-start">
                    <div class="flex flex-col items-start justify-start col-span-2">
                        <h3 class="mr-2">ประเภทการรักษา</h3>
                        <form [formGroup]="expenseForm">
                            <mat-radio-group formControlName="types" (change)="emitdata()"
                                (change)="setZeroChangType()">
                                <mat-radio-button [color]="'primary'" class="mr-2" id="opd"
                                    value="opd">OPD</mat-radio-button>
                                <mat-radio-button [color]="'primary'" class="mr-2" id="ipd"
                                    value="ipd">IPD</mat-radio-button>
                            </mat-radio-group>
                            <p *ngIf="expenseForm.get('types')?.invalid"
                                class="absolute font-light text-red-700 -right-2 -top-2 dark:text-red-500">
                                *
                            </p>
                        </form>
                    </div>
                    <div class="flex flex-col items-start justify-start col-span-1">
                        <label for="dateRangeInput">วันที่</label>
                        <input [disabled]="true" type="text" formControlName="dateRangeInput"
                            [value]="expenseForm.get('dateRange.dateRangeInput')?.value"
                            class="appearance-none rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 w-full dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                    </div>
                    <div class="flex flex-col items-start justify-start col-span-1">
                        <label for="days">จำนวนวัน</label>
                        <input [disabled]="true" type="text" formControlName="days" id="days"
                            class="appearance-none rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 w-full dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                    </div>
                    <div class="flex flex-col items-start justify-start col-span-1">
                        <label for="medicalExpensesInput">ค่ารักษาพยาบาล</label>
                        <input type="text" formControlName="medicalExpensesInput" id="medicalExpensesInput"
                            (change)="insertCost()"
                            class="appearance-none rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 w-full dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                        <div class="text-red-700"
                            *ngIf="expenseForm.get('medicalExpensesInput')?.hasError('required') && expenseForm.get('medicalExpensesInput')?.touched">
                            กรุณากรอกค่ารักษาพยาบาล
                        </div>
                    </div>
                    <!-- [hidden]="!expenseForm.get('includeRoomFood')?.value" -->
                    <div class="flex flex-col items-start justify-start col-span-1">
                        <label for="roomService">ค่าห้อง +
                            ค่าอาหาร</label>
                        <input type="text" (change)="emitdata()" formControlName="roomService" id="roomService"
                            class="appearance-none rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 w-full dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                    </div>
                    <div class="flex flex-col items-start justify-start col-span-2">
                        <label for="description">รายละเอียด</label>
                        <textarea formControlName="description" id="description"
                            class="appearance-none rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 w-full dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]"
                            (change)="emitdata()"></textarea>
                        <div class="text-red-700"
                            *ngIf="expenseForm.get('description')?.hasError('required') && expenseForm.get('description')?.touched">
                            กรุณากรอกรายละเอียด
                        </div>
                    </div>
                    <div class="flex flex-col items-start justify-start col-span-2">
                        <label for="remark">หมายเหตุ</label>
                        <textarea formControlName="remark" (change)="emitdata()" id="remark"
                            class="appearance-none rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 w-full dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]"></textarea>
                        <div class="text-red-700"
                            *ngIf="expenseForm.get('remark')?.hasError('required') && expenseForm.get('remark')?.touched">
                            กรุณากรอกรายละเอียด
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>