<div class="bg-transparent">
    <h2 mat-dialog-title>ราบละเอียดการเบิกค่ารักษาพยาบาลผู้ป่วยใน</h2>
    <mat-dialog-content>
        <input
            class="grow appearance-none mx-3 mt-2 rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 xl:w-full dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#6d6161]"
            matInput (keyup)="applyFilter($event)"
            placeholder="โปรดระบุสิ่งที่ต้องการค้นหา เช่น ชื่อ,จำนวนเงิน,รหัสพนักงาน, และอื่น" #input>
        <table class="w-full dark:bg-zinc-800 dark:rounded dark:drop-shadow dark:shadow-zinc-300" mat-table
            [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="empid">
                <th class="dark:border-white dark:text-font-header-dark" mat-header-cell *matHeaderCellDef
                    mat-sort-header> รหัสพนักงาน </th>
                <td class="dark:border-white dark:text-font-header-dark" mat-cell *matCellDef="let row">
                    {{row.empid}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="empname">
                <th class="dark:border-white dark:text-font-header-dark" mat-header-cell *matHeaderCellDef
                    mat-sort-header> ชื่อ - นามสกุล </th>
                <td class="dark:border-white dark:text-font-header-dark" mat-cell *matCellDef="let row">
                    {{row.empname}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="dateOfAdmission">
                <th class="dark:border-white dark:text-font-header-dark" mat-header-cell *matHeaderCellDef
                    mat-sort-header> วันที่เบิก </th>
                <td class="dark:border-white dark:text-font-header-dark" mat-cell *matCellDef="let row">
                    {{row.dateOfAdmission}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="description">
                <th class="dark:border-white dark:text-font-header-dark" mat-header-cell *matHeaderCellDef
                    mat-sort-header> รายละเอียด </th>
                <td class="dark:border-white dark:text-font-header-dark" mat-cell *matCellDef="let row">
                    {{row.description}} </td>
            </ng-container>
            <ng-container matColumnDef="dateRange">
                <th class="dark:border-white dark:text-font-header-dark" mat-header-cell *matHeaderCellDef
                    mat-sort-header> วันที่เข้ารับการรักษา </th>
                <td class="dark:border-white dark:text-font-header-dark" mat-cell *matCellDef="let row">
                    {{row.dateRange}} </td>
            </ng-container>
            <ng-container matColumnDef="opd">
                <th class="dark:border-white dark:text-font-header-dark" mat-header-cell *matHeaderCellDef
                    mat-sort-header> OPD </th>
                <td class="dark:border-white dark:text-font-header-dark" mat-cell *matCellDef="let row">
                    {{row.opd}} บาท</td>
            </ng-container>
            <ng-container matColumnDef="ipd">
                <th class="dark:border-white dark:text-font-header-dark" mat-header-cell *matHeaderCellDef
                    mat-sort-header> IPD </th>
                <td class="dark:border-white dark:text-font-header-dark" mat-cell *matCellDef="let row">
                    {{row.ipd}} บาท</td>
            </ng-container>
            <ng-container matColumnDef="canWithdraw">
                <th class="dark:border-white dark:text-font-header-dark" mat-header-cell *matHeaderCellDef
                    mat-sort-header> สามารถเบิกได้ </th>
                <td class="dark:border-white dark:text-font-header-dark" mat-cell *matCellDef="let row">
                    {{row.ipd}} บาท</td>
            </ng-container>
            <ng-container matColumnDef="remark">
                <th class="dark:border-white dark:text-font-header-dark" mat-header-cell *matHeaderCellDef
                    mat-sort-header> หมายเหตุ </th>
                <td class="dark:border-white dark:text-font-header-dark" mat-cell *matCellDef="let row">
                    {{row.remark}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator class="dark:bg-[#3a3b3c] dark:text-white" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"></mat-paginator>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="px-4 py-2 text-white bg-red-600 rounded-md" mat-dialog-close>ปิด</button>
    </mat-dialog-actions>
</div>