<h2 mat-dialog-title>ค่ารักษาพยาบาล</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="expenseFrom">
        <h3>ประเภทการรักษา</h3>
        <section class="example-section space-y-1">
            <mat-radio-group formControlName="type">
                <mat-radio-button class="mr-2" id="opd" value="opd">OPD</mat-radio-button>
                <mat-radio-button class="mr-2" id="ipd" value="ipd">IPD</mat-radio-button>
            </mat-radio-group>
        </section><br>
        <h3>วัน/เดือน/ปี</h3>
        <div class="flex flex-wrap items-start">
            <mat-form-field appearance="fill" class="flex-shrink-0 mr-4">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="dateRange.controls['start'].hasError('matStartDateInvalid')">Invalid start
                    date</mat-error>
                <mat-error *ngIf="dateRange.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>

            <div class="flex flex-col">
                <div class="flex items-center h-12 p-2 rounded-lg">
                    <label for="" class="self-center flex-initial w-28">จำนวนวัน</label>
                    <input type="text" formControlName="numberOfDays"
                        class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                </div>
            </div>
        </div>
        <p>Selected range: {{ dateRange.value | json }}</p>
        <br>

        <div class="flex flex-wrap items-start">
            <div class="flex items-center h-12 rounded-lg">
                <label for="" class="self-center flex-initial w-32">ค่ารักษาพยาบาล</label>
                <input type="text" formControlName="medicalExpenses"
                    class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
            </div>

            <div class="flex items-center h-12 rounded-lg">
                <label for="" class="self-center flex-initial w-32">ค่าห้อง+อาหาร</label>
                <input type="text" formControlName="roomAndFoodExpenses"
                    class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
            </div>
        </div>

        <div class="flex items-center h-12 rounded-lg">
            <label for="" class="self-center flex-initial w-28">รายละเอียด</label>
            <input type="text" formControlName="details"
                class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
        </div>
    </form><br>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="mr-3" mat-button mat-dialog-close> ยกเลิก </button>
    <button (click)="save()" class="mr-3" mat-button [mat-dialog-close]="true" cdkFocusInitial> บันทึก </button>
</mat-dialog-actions>