<div class="bg-transparent">
  <div class="grid items-stretch w-full grid-cols-3 gap-5">
    <div class="w-full col-span-2 h-[col-span-1] basis-2/3 flex flex-col">
      <div
        class="flex-1 w-full p-6 bg-white rounded-md shadow text-font-header dark:text-font-header-dark dark:bg-content-dark">
        <p class="mb-6 text-2xl">ตารางแสดงการเบิกค่ารักษาพยาบาลทั้งหมด</p>
        <div class="flex items-center justify-start w-full">
          <div class="">
            <label for="typeSearch" class="inline-block mr-1 text-sm font-medium dark:text-white">ค้นหาด้วย</label>
            <select [(ngModel)]="selectedType" name="typeSearch" id="typeSearch"
              class="bg-gray-50 border mr-1 border-gray-300 inline-block text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option value="" disabled>เลือกสิ่งที่ต้องการค้นหา</option>
              <option value="code">รหัสพนักงาน</option>
              <option value="name">ชื่อ - นามสกุล</option>
            </select>
            <p-autoComplete class="dark:bg-gray-700" [(ngModel)]="selectedSearchValue" [showEmptyMessage]="true"
              [suggestions]="filteredSearchValues" (completeMethod)="filterValue($event)"></p-autoComplete>
          </div>
          <div class="ml-2">
            <button (click)="fetchSearchData()" type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <i class="pi pi-search"></i>
              ค้นหา
            </button>
          </div>
        </div>
        <div class="mx-2 my-4">
          <p-table #dt1 [totalRecords]="totalRecords" [lazy]="true" [loading]="loading"
            (onLazyLoad)="loadExpenseData($event)" dataKey="id" [value]="dataSource" [paginator]="true" [rows]="5"
            [showCurrentPageReport]="true" currentPageReportTemplate="แสดง {first} ถึง {last} ของ {totalRecords} ข้อมูล"
            [rowsPerPageOptions]="[5, 10]" [globalFilterFields]="[
              'dateOfAdmission',
              'empname',
              'emplevel',
              'canWithdraw'
            ]">
            <ng-template pTemplate="caption">
              <div class="flex items-center justify-start">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                  (click)="clear(dt1)"></button>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 20%">วันที่เบิก</th>
                <th style="width: 35%">ชื่อ - นามสกุล</th>
                <th style="width: 20%">ระดับ</th>
                <th style="width: 25%">เงินที่เบิกได้</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-expense>
              <tr class="t-body" (click)="getExpense(expense.expenseId)">
                <td>{{ expense.dateOfAdmission }}</td>
                <td>{{ expense.empname }}</td>
                <td>{{ expense.emplevel }}</td>
                <td>{{ expense.canWithdraw }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-1 w-full col-span-1 basis-1/3 gap-y-5">
      <div class="w-full p-5 rounded-md bg-content shadow-card dark:bg-content-dark dark:shadow-none">
        <div class="flex items-center justify-center mt-1">
          <div class="px-3 py-2 text-white rounded-md bg-lime-600">
            <i class="bx bxs-first-aid mt-1 text-[3rem]"></i>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <div class="my-4">
            <h6 class="text-lg dark:text-white">รายละเอียดการเบิกค่ารักษาพยาบาล</h6>
          </div>
        </div>
        <div *ngIf="expenseSelect"
          class="่่w-full m-auto h-32 flex justify-center items-center rounded-md text-start dark:text-white bg-gray-100 dark:bg-transparent">
          <h4>กรุณาเลือกข้อมูลจากตาราง</h4>
        </div>
        <div [hidden]="expenseSelect"
          class="่่mx-8 p-2 rounded-md text-start dark:text-white bg-gray-100 dark:bg-transparent">
          <p><span class="font-semibold">ประเภทการเข้ารับการรักษา</span>: ผู้ป่วย{{expenseInfo.typeExpense}}</p>
          <p><span class="font-semibold">วันที่เบิก</span>: {{expenseInfo.dateAdd}}</p>
          <p><span class="font-semibold">บริษัท</span>: {{expenseInfo.company}}</p>
          <p><span class="font-semibold">ชื่อ-นามสกุล</span>: {{expenseInfo.empName}}</p>
          <p><span class="font-semibold">หมายเหตุ</span>: {{expenseInfo.typeEmp}}</p>
          <p><span class="font-semibold">ตำแหน่ง</span>: {{expenseInfo.tposition}}</p>
          <p><span class="font-semibold">ฝ่าย</span>: {{expenseInfo.tdivision}}({{expenseInfo.divisionid}})</p>
          <p><span class="font-semibold">แผนก</span>: {{expenseInfo.tdept}}({{expenseInfo.deptcode}})</p>
          <p><span class="font-semibold">ระดับ</span>: {{expenseInfo.level}}</p>
          <p><span class="font-semibold">วันที่เข้ารับการรักษา</span>: {{expenseInfo.dateRange}}</p>
          <p><span class="font-semibold">รวม</span>: {{expenseInfo.days}} วัน</p>
          <p><span class="font-semibold">ค่ารักษาพยาบาล</span>: {{expenseInfo.healthCost | number: '1.0-0'}} บาท</p>
          <p><span class="font-semibold">ค่าห้องและอาหาร</span>: {{expenseInfo.roomSerive | number: '1.0-0'}} บาท</p>
          <p><span class="font-semibold">จำนวนเงินที่เบิก</span>: {{expenseInfo.withDraw | number: '1.0-0'}}
            บาท</p>
        </div>
      </div>
    </div>
  </div>
</div>