<div class="bg-transparent">
    <div
        class="text-font-header rounded-md shadow p-6 pb-6 w-full bg-white dark:text-font-header-dark dark:bg-content-dark">
        <p class="text-2xl">ข้อมูลพนักงาน</p>
        <br>
        <div
            class="text-[#566a7f] rounded-md mt-5 mb-3 shadow p-6 pb-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526]">
            <!-- user-form.component.html -->
            <form [formGroup]="UserForm" (ngSubmit)="onSubmit()">
                <div class="flex flex-col items-center justify-start">
                    <div class="flex items-center self-start justify-start pt-2 text-sm justify-items-start">
                        <label for="" class="mr-2">บริษัท</label>
                        <div class="flex items-center justify-start">
                            <div class="flex items-stretch">
                                <input #pccSelected (change)="selectCompany('pcc')" type="radio"
                                    class="w-4 h-4 self-center peer accent-[#696cff]" name="dept" id="pcc" value="pcc"
                                    checked />
                                <label for="pcc" class="ml-2 mr-2 peer-checked:text-[#696cff]">PCCTH</label>
                            </div>
                            <div class="flex items-stretch">
                                <input #wsSelected (change)="selectCompany('ws')" type="radio"
                                    class="w-4 h-4 self-center peer accent-[#696cff]" name="dept" id="ws" value="ws" />
                                <label for="ws" class="ml-2 mr-2 peer-checked:text-[#696cff]">WiseSoft</label>
                            </div>
                        </div>
                    </div>
                    
                    <div
                        class="grid self-center justify-center my-6 space-x-2 text-sm sm:grid-cols-1 md:grid-cols-3 justify-items-center xl:flex xl:p-0">
                        <!-- ตรวจสอบความถูกต้องของ deptCode -->
                            <div class="flex items-center justify-center">
                                <label for="deptCode">ฝ่าย/แผนก</label>
                                <div class="relative inline-flex flex-col">
                                    <input  type="text" formControlName="deptCode" required [minlength]="4"
                                        [maxlength]="4" id="deptCode"
                                        class="appearance-none mx-3 rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 w-60 dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder-200 ease-linear placeholder:text-[#b4b4b4] dark:placeholder-text-[#d8adad]" />
                                    <p *ngIf="UserForm.get('deptCode').invalid && (UserForm.get('deptCode').dirty || UserForm.get('deptCode').touched)"
                                        class="absolute font-light text-red-700 -right-2 -top-2 dark:text-red-500">
                                        *
                                    </p>
                                </div>
                            </div>

                            <!-- ตรวจสอบความถูกต้องของ code -->
                            <div class="flex items-center justify-center">
                                <label for="code">รหัสฝ่าย/แผนก</label>
                                <div class="relative inline-flex flex-col">
                                    <input  type="text" formControlName="code" required [minlength]="4"
                                        [maxlength]="4" id="code"
                                        class="appearance-none mx-3 rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 w-60 dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder-200 ease-linear placeholder:text-[#b4b4b4] dark:placeholder-text-[#d8adad]" />
                                    <p *ngIf="UserForm.get('code').invalid && (UserForm.get('code').dirty || UserForm.get('code').touched)"
                                        class="absolute font-light text-red-700 -right-2 -top-2 dark:text-red-500">
                                        *
                                    </p>
                                </div>
                            </div>
                            </div>
                            </div>

                <div
                    class="text-[#566a7f] rounded-md mt-5 mb-3 shadow p-6 pb-6 w-full bg-gray-50 dark:text-[#e4e6eb] dark:bg-[#242526]">
                    <div class="grid grid-cols-9 mb-6 gap-y-2">
                        <!-- Row 1 -->
                        <div class="rounded-lg h-12 p-2">
                            <label for="" class="flex-initial self-center w-28">รหัสพนักงาน</label>
                        </div>
                        <div class="col-start-2 col-end-4 rounded-lg h-20">
                            <input readonly type="text" formControlName="empid" required value="" [minlength]="6" [maxlength]="6" 
                                id="empid" (keypress)="onInputKeyPressNo($event)"

                                [ngClass]="{ 'border-red-500 dark:border-red-500': UserForm.get('empid').hasError('required') && UserForm.get('empid').touched }"
                                class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                            <div
                                *ngIf="UserForm.get('empid').hasError('required') && UserForm.get('empid').touched|| invalidNoInput">
                                <span class="text-red-500 text-sm">กรุณากรอกข้อมูล</span>
                            </div>
                        </div>

                        <!-- <div class="rounded-lg h-12 p-2">
                            <label for="" class="flex-initial self-center w-28">ระดับ</label>
                        </div>
                        <div class="col-start-2 col-end-4 rounded-lg h-20">
                            <input type="text" [formControl]="UserForm.get('budget.level')" required [minlength]="6" [maxlength]="6" 
                                id="budget.level" (keypress)="onInputKeyPressNo($event)"

                                [ngClass]="{ 'border-red-500 dark:border-red-500': UserForm.get('budget.level').hasError('required') && UserForm.get('empid').touched }"
                                class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                            <div
                                *ngIf="UserForm.get('budget.level').hasError('required') && UserForm.get('budget.level').touched|| invalidNoInput">
                                <span class="text-red-500 text-sm">กรุณากรอกข้อมูล</span>
                            </div>
                        </div> -->

                        

                        <div class="rounded-lg h-12 p-2">
                            <label for="" class="flex-initial self-center w-28">สถานะ</label>
                        </div>
                        <div class="col-start-5 col-end-7 rounded-lg h-20">
                            <select formControlName="remark"
                                [ngClass]="{ 'border-red-500 dark:border-red-500': UserForm.get('remark').hasError('required') && UserForm.get('remark').touched }"
                                class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                                <option value="" disabled selected>เลือกสถานะ</option>
                                <option value="พนักงานประจำ">พนักงานประจำ</option>
                                <option value="สัญญาจ้าง">สัญญาจ้าง</option>
                                <option value="เงื่อนไขพิเศษ">เงื่อนไขพิเศษ</option>
                            </select>
                            <div *ngIf="UserForm.get('remark').hasError('required') && UserForm.get('remark').touched"
                                class="text-red-500 text-sm">
                                กรุณาเลือกสถานะ
                            </div>
                        </div>

                        <div class="rounded-lg h-12 p-2">
                            <label for="" class="flex-initial self-center w-28">วันที่เริ่มทำงาน</label>
                        </div>
                        <div class="h-20 col-start-8 col-end-10 rounded-lg">
                            <input type="date" formControlName="startDate"
                                [ngClass]="{ 'border-red-500 dark:border-red-500': UserForm.get('startDate').hasError('required') && UserForm.get('startDate').touched }"
                                class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                            <div *ngIf="UserForm.get('startDate').hasError('required') && UserForm.get('startDate').touched"
                                class="text-red-500 text-sm">
                                กรุณาเลือกวันที่เริ่มทำงาน
                            </div>
                        </div>

                        <div class="rounded-lg h-12 p-2">
                            <label for="" class="flex-initial self-center w-28">คำนำหน้า</label>
                        </div>
                        <div class="h-20 col-start-2 col-end-4 rounded-lg">
                            <select formControlName="tprefix"
                                [ngClass]="{ 'border-red-500 dark:border-red-500': UserForm.get('tprefix').hasError('required') && UserForm.get('tprefix').touched }"
                                class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                                <option value="" disabled selected>เลือกคำนำหน้า</option>
                                <option value="นาย">นาย</option>
                                <option value="นาง">นาง</option>
                                <option value="นางสาว">นางสาว</option>
                            </select>
                            <div *ngIf="UserForm.get('tprefix').hasError('required') && UserForm.get('tprefix').touched">
                                <span class="text-red-500 text-sm">กรุณาเลือกคำนำหน้า</span>
                            </div>
                        </div>

                        <div class="rounded-lg h-12 p-2 ">
                            <label for="" class="flex-initial self-center w-28">ชื่อ</label>
                        </div>
                        <div class="h-20 col-start-5 col-end-7 rounded-lg">
                            <input type="text" formControlName="tname"
                                [ngClass]="{ 'border-red-500 dark:border-red-500': UserForm.get('tname').hasError('required') && UserForm.get('tname').touched }"
                                class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                            <div
                                *ngIf="UserForm.get('tname').hasError('required') && UserForm.get('tname').touched">
                                <span class="text-red-500 text-sm ">กรุณากรอกข้อมูล</span>
                            </div>
                        </div>

                        <div class="rounded-lg h-12 p-2">
                            <label for="" class="flex-initial self-center w-28">นามสกุล</label>
                        </div>
                        <div class="h-20 col-start-8 col-end-10 rounded-lg">
                            <input type="text" formControlName="tsurname"
                                [ngClass]="{ 'border-red-500 dark:border-red-500': UserForm.get('tsurname').hasError('required') && UserForm.get('tsurname').touched }"
                                class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                            <div *ngIf="(UserForm.get('tsurname').hasError('required') && UserForm.get('tsurname').touched)"
                                class="text-red-500 text-sm">
                                กรุณากรอกข้อมูล
                            </div>
                        </div>

                        <div class="rounded-lg h-12 p-2">
                            <label for="" class="flex-initial self-center w-28">ตำแหน่ง</label>
                        </div>
                        <div class="col-start-2 col-end-4 rounded-lg h-20">
                            <input type="text" formControlName="tposition"
                                [ngClass]="{ 'border-red-500 dark:border-red-500': UserForm.get('tposition').hasError('required') && UserForm.get('tposition').touched }"
                                class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                            <div *ngIf="(UserForm.get('tposition').hasError('required') && UserForm.get('tposition').touched)"
                                class="text-red-500 text-sm">
                                กรุณากรอกข้อมูล
                            </div>
                        </div>

                        <div class="rounded-lg h-12 p-2">
                            <label for="email" class="flex-initial self-center text-sm">Email</label>
                        </div>
                        <div class="h-20 col-start-5 col-end-7 rounded-lg">
                            <input type="email" formControlName="email" pattern="^$|[^@\s]+@[^@\s]+\.[^@\s]+"
                                class="appearance-none rounded-md border outline-none my-5 py-2 px-3 w-full xl:w-11/12 xl:my-0 xl:mx-1 dark:border-border-dark dark:bg-[#3a3b3c] focus:ring-1 focus:ring-font-link focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                            <div *ngIf="UserForm.get('email').hasError('pattern') && UserForm.get('email').touched"
                                class="text-red-500 text-sm">
                                มีข้อผิดพลาดในกรอกข้อมูล <br>(Exp @pccth.com)
                            </div>
                        </div>

                    </div>
        
                    <div class="flex justify-center mt-4" *ngIf="!isEditing">
                        <button type="submit" [disabled]="UserForm.invalid"
                          class="text-white p-2 w-24 rounded shadow-md {{ (UserForm.invalid) ? 'cursor-not-allowed bg-gray-400 border-2 border-gray-400' : 'cursor-pointer bg-[#696cf8] hover:bg-[#696cf8] hover:text-white border-2 border-[#696cf8]' }}">
                          บันทึก
                        </button>
                      </div>

                      <div class="flex justify-center mt-4" *ngIf="isEditing">
                        <button type="button" class="text-white p-2 w-24 rounded shadow-md bg-[#696cf8] hover:bg-[#696cf8] hover:text-white border-2 border-[#696cf8]"
                        (click)="onUpdateButtonClick()">
                          อัพเดท
                        </button>
                        <button type="button" class="text-white p-2 w-24 rounded shadow-md bg-gray-400 border-2 border-gray-400 ml-2"
                          (click)="onCancelUpdateButtonClick()">
                          ยกเลิก
                        </button>
                      </div>   
                           
                </div>
            </form>
        </div>
        <div class="w-full overflow-x-auto shadow rounded-b-md">
            <table class="text-sm border-b-2 dark:border-[#3a3b3c]">
                <colgroup>
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                    <col style="width: 30%" />
                    <col style="width: 30%" />
                    <col style="width: 30%" />
                </colgroup>
                <thead class="text-sm border-b-2 dark:border-[#3a3b3c]">
                    <tr class="h-12 text-center uppercase">
                        <th scope="col">รหัสพนักงาน</th>
                        <th scope="col">ชื่อ</th>
                        <th scope="col">นามสกุล</th>
                        <th scope="col">ตำแหน่ง</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of emps"
                        class="odd:bg-white dark:odd:bg-[#3a3b3c] dark:even:bg-black even:bg-slate-100 text-center h-20 cursor-pointer hover:bg-slate-200 dark:hover:bg-slate-700">
                        <td>{{data.empid}}</td>
                        <td>{{data.tname}}</td>
                        <td>{{data.tsurname}}</td>
                        <td>{{data.tposition}}</td>
                        <td>{{data.email}}</td>
                        <td>
                           
                    <button (click)="onEditButtonClick(data.userId)"
                            class="flex items-center justify-center text-[#FFAB00] py-2 rounded w-32 border-2 border-gray-400 mr-1 hover:bg-[#FFAB00] hover:text-white hover:border-[#FFAB00]">
                      <i class="mt-1 mb-1 mr-2 bx bx-edit"></i><span class="mr-1">ปรับปรุงข้อมูล</span>
                    </button>
                   
                        </td>
                        <td>
                            <button type="submit" (click)="onDeleteButtonClick(data.userId)"
                                class="flex items-center justify-center w-24 py-2 mr-1 text-red-700 border-2 border-gray-400 rounded hover:bg-red-700 hover:text-white hover:border-red-700">
                                <i class="mt-1 mb-1 mr-1 bx bx-trash"></i>ลบข้อมูล
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
