<div class="bg-transparent">
    <div class="flex flex-col px-5 py-5 my-8 bg-content rounded-xl shadow-card dark:bg-content-dark dark:shadow-none">
        <div class="inline-block min-w-full py-2 sm:px-6">
            <div class="overflow-hidden">
                <!-- Title of page -->
                <p class="text-4xl font-semibold text-slate-500 dark:text-white">ค่ารักษาพยาบาล</p>
            </div>
        </div>
        <form class="grid justify-start grid-cols-2 gap-4 my-4 xl:my-7 xl:flex">
            <div class="flex flex-col justify-between w-full my-4 xl:my-7 xl:flex bg-gray-200 dark:bg-[#242526]">
                <div
                    class="card justify-start text-start text-[#566a7f] rounded-md shadow p-4 md:p-6 lg:p-8 xl:p-10 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526] flex-grow flex items-center">
                    <label for="searchInput" class="mr-2 font-semibold">ค้นหาชื่อ</label>
                    <p-autoComplete id="searchInput" class="dark:text-white dark:bg-[#3a3b3c]" [(ngModel)]="searchInput"
                        [showEmptyMessage]="true" [suggestions]="filteredSearchValues"
                        placeholder="กรอกชื่อพนักงานที่ต้องการค้นหา"
                        (completeMethod)="filterValue($event)"></p-autoComplete>
                    <button (click)="searchUsers()"
                        class="bg-[#696cf8] text-white font-bold py-2.5 px-4 my-3 md:my-5 rounded cursor-pointer drop-shadow dark:bg-[#8385ff] xl:w-44 xl:ml-1 xl:mr-2">
                        ค้นหา
                    </button>
                    <div class="ml-2 mr-2" *ngIf="searchButtonClicked">
                        <button (click)="showModalPrintDialog()" type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 mr-2 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 md:px-5 py-2 md:py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <i class="mr-2 pi pi-print"></i> พิมพ์
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-full h-full col-span-1">
                <div class="flex flex-col justify-between w-full my-4 xl:my-7 xl:flex"
                    *ngIf="responseData?.length == undefined">
                    <div
                        class="card h-40 flex flex-grow bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526] justify-center items-center text-[#566a7f] rounded-md shadow p-6 w-full">
                        <p class="text-xl font-semibold">กรุณาค้นหาชื่อพนักงานที่ต้องการเพื่อดำเนินการต่อ</p>
                    </div>
                </div>
                <div class="h-full" *ngIf="responseData?.length > 0">
                    <div class="h-full" *ngFor="let data of responseData">
                        <div
                            class="card h-full grid grid-cols-2 gap-2 justify-start text-start text-[#566a7f] rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526] align-start">
                            <p class="col-span-2 font-semibold">ข้อมูลพนักงาน</p>
                            <p>{{ data.tprefix }} {{ data.tname }} {{ data.tsurname }}</p>
                            <p>รหัสพนักงาน: {{ data.empid }}</p>
                            <p>Department: {{ data.dept.deptid }}</p>
                            <p>{{ data.tposition }}</p>
                            <p>Email: {{ data.email }}</p>
                            <p>ระดับพนักงาน (LEVEL): {{ (data?.budget?.level) ? data.budget.level : "ไม่มีข้อมูล"}}</p>
                            <p>หมายเหตุ: {{ data.remark }}</p>
                            <button (click)="showModalDialog(data.userId,'create')"
                                class="bg-[#696cf8] text-white font-bold py-2.5 px-4 my-5 rounded cursor-pointer drop-shadow dark:bg-[#8385ff] xl:h-1/2 xl:w-44 xl:ml-1 xl:mr-2">เบิกค่ารักษาพยาบาล</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div *ngIf="responseData?.length > 0">
            <div class="mx-2 my-4">
                <p-table #dt1 [value]="userData" dataKey="id" [paginator]="true" [rows]="5"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="แสดง {first} ถึง {last} ของ {totalRecords} ข้อมูล"
                    [rowsPerPageOptions]="[5, 10]"
                    [globalFilterFields]="['budget.level', 'tprefix', 'tname', 'tsurname']">
                    <ng-template pTemplate="caption">
                        <!-- Optional caption template -->
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 10%">ลำดับที่</th>
                            <th style="width: 12%">วันที่</th>
                            <th style="width: 18%">รายละเอียด</th>
                            <th style="width: 10%">IPD</th>
                            <th style="width: 10%">OPD</th>
                            <th style="width: 15%">ค่าห้อง/อาหาร</th>
                            <th style="width: 20%">จำนวนเงินที่เบิก</th>
                            <th style="width: 5%"></th>
                            <th style="width: 5%"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-expense let-rowIndex="rowIndex">
                        <tr class="t-body">
                            <td>{{ rowIndex + 1 }}</td>
                            <td>{{ expense.start_date | date: 'dd/MM/yyyy' }} - {{ expense.end_date | date: 'dd/MM/yyyy'
                                }}</td>
                            <td>{{ expense.description }}</td>
                            <td>{{ expense.ipd | number: '1.0-0'}}</td>
                            <td>{{ expense.opd | number: '1.0-0'}}</td>
                            <td>{{ expense.room_service | number: '1.0-0'}}</td>
                            <td>{{ expense.can_withdraw | number: '1.0-0'}}</td>
                            <td>
                                <button type="submit" (click)="showModalDialog(expense.id,'edit')"
                                    class="flex items-center justify-center text-[#FFAB00] py-2  rounded w-32 border-2 border-gray-400 hover:bg-[#FFAB00] hover:text-white hover:border-[#FFAB00]">
                                    <i class="mt-1 mb-1 mr-2 bx bx-edit"></i><span class="mr-1">ปรับปรุงข้อมูล</span>
                                </button>
                            </td>
                            <td>
                                <button type="submit" (click)=" deleteById(expense.id)"
                                    class="flex items-center justify-center w-24 py-2 text-red-700 border-2 border-gray-400 rounded hover:bg-red-700 hover:text-white hover:border-red-700">
                                    <i class="mt-1 mb-1 mr-1 bx bx-trash"></i>ลบข้อมูล
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>
        <div *ngIf="responseData.result && responseData.result.length === 0">
            <p>No data found.</p>
        </div>
    </div>

    <!-- modal -->
    <p-dialog header="ค่ารักษาพยาบาล" [(visible)]="displayModal" [modal]="true" [style]="{width: '75vw',height:'100vh'}"
        [draggable]="false" [resizable]="false">
        <app-wellfare-dialog *ngIf="displayModal" [userId]="userId" [editMode]="editMode" [expensId]="expenseId"
            (userIdChanged)="handleUserIdChanged($event)" (closeDialog)="closeModal()"
            (CreateExpenseForm)="getCreateForm($event)"></app-wellfare-dialog>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (onClick)="ConfirmSaveAndEdit()" label="บันทึก"
                styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>

<!-- dialog -->
<p-dialog header="ฟอร์มข้อมูลรายงาน" [(visible)]="printModal" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="col-span-1 text-start">
        <form [formGroup]="reportPrintForm">
            <div
                class="grid grid-cols-2 gap-2 justify-start text-start text-[#566a7f] rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526] align-start">
                <div class="flex flex-col items-start justify-start col-span-2">
                    <h3 class="mr-2">ประเภทการรักษา</h3>
                    <mat-radio-group formControlName="type">
                        <mat-radio-button [color]="'primary'" class="mr-2" id="all" value="all">All</mat-radio-button>
                        <mat-radio-button [color]="'primary'" class="mr-2" id="opd" value="opd">OPD</mat-radio-button>
                        <mat-radio-button [color]="'primary'" class="mr-2" id="ipd" value="ipd">IPD</mat-radio-button>
                    </mat-radio-group>
                </div><br>
                <div class="flex flex-col items-start justify-start col-span-2">
                    <h3 class="mr-2">ปี/เดือน</h3>
                    <mat-radio-group formControlName="reportType">
                        <mat-radio-button [color]="'primary'" class="mr-2" id="byYear"
                            value="byYear">ปี</mat-radio-button>
                        <mat-radio-button [color]="'primary'" class="mr-2" id="byMonth"
                            value="byMonth">เดือน</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="flex flex-col items-start justify-start col-span-2">
                    <label for="years">ปี</label>
                    <select formControlName="year" id="years"
                        class="appearance-none rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 w-full dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]">
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                    </select>
                </div>
                <div class="flex flex-col items-start justify-start col-span-2 mt-4">
                    <label for="months">เดือน</label>
                    <ng-container *ngIf="reportPrintForm.get('reportType') as reportTypeControl">
                        <select formControlName="month" id="months"
                            class="appearance-none rounded-md border outline-none py-2.5 px-2 xl:px-3 xl:mx-1 w-full dark:border-[#3a3b3c] dark:bg-[#3a3b3c] focus:ring-1 focus:ring-[#696cff] focus:placeholder:pl-2 placeholder:transition-all placeholder:duration-200 placeholder:ease-linear placeholder:text-[#b4b4b4] dark:placeholder:text-[#b4b4b4]"
                            [disabled]="reportTypeControl.value === 'byYear'">
                            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
                        </select>
                    </ng-container>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <button (click)="displayModal = false; pdfview()"
            class="inline-flex items-center px-4 py-2 font-bold text-gray-800 bg-gray-300 rounded hover:bg-gray-400">
            <i class='mr-1 bx bx-file-find'></i>
            <span class="fontfam">ดูรายงาน</span>
        </button>
    </ng-template>
</p-dialog>